body {
    width: 100%
}

.navbar {
width: 100%;
position: fixed;
padding: 5px;

}


ul {
    list-style: none;
    margin: 0;
    padding: 0;

          
}

li {
    display: inline;
    padding: 14px 216px;   
}

.underline {
    width: 90%;
    border: solid black 2px;  
    position: fixed;
    margin-left: 5%;
    
    
}

.jumbotron { 
    
    background-image: url(./background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgba(211, 244, 247, 0.568);
    width: 90%;
    height: 650px;    
    margin-left: 5%; 
    margin-top: -2px;   
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.underline1 {
    border: solid black 2px; 
    width: 92%;
    margin-left: 4%;          
}

.underline2 {
    border: solid black 2px;
    width: 200px;
}

#about {
    padding: 25px 0px;
}

.oscar {
    display: center;
    border: solid black 1px;
}

