body {
    width: 100%
}

.navbar {
width: 100%;
position: fixed;
padding: 5px;
background: white;

}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;

          
}

li {
    display: inline;
    padding: 14px 216px;   
}

.underline {
    width: 90%;
    border: solid black 2px;  
    position: fixed;
    margin-left: 5%;    
}

#about,
.aboutMe {
    margin-top: 30px;
}

.jumbotron { 
    
    background-image: url(./background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgba(211, 244, 247, 0.568);
    width: 90%;
    height: 650px;    
    margin-left: 5%; 
    margin-top: -2px;   
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.underline1 {
    border: solid black 2px; 
    width: 92%;
    margin-left: 4%;          
}

hr {
    border: solid black 1px;
}

.underline2 {
    border: solid black 2px;
    width: 200px;
}

#about {
    padding: 25px 0px;
}

.oscar {
    display: center;
    border: solid black 1px;
    margin: 70px 170px;
    height: 320px;
    width: 400px;
}

#portfolio {
    display: none;
}

.mywork {
    width: 600px;
    height: 450px;
    margin: 65px;
    border: solid black 1px;
}

.btn {
    margin: 0px 35px;
}

/*contact form */

#contact {
    display: none;
}

.form-box {
    border: solid black 1px;
    color: whitesmoke; 
    margin-bottom: 20px; 
}

.form-header {
    padding: 25px 15px 15px 15px;
    
}

label {
    padding-left: 15px;
}

button {
    margin: 0px 0px 15px 15px;
}

button:hover,
.btn:hover {
    color: #517fa4;
    background: #d5d5d5;
}

.menu-item:hover {
    color: #517fa4;
}

input, textarea {
    margin-left: 25px;
    border: solid black 1px;
    width: 1060px;

}

.box-head {
    padding-bottom: 50px;
    background: rgb(63, 58, 58);
    border-bottom: solid black 2px;
}

.box-body {
    background: gray;     
}

footer {
    background: rgb(63, 58, 58);
    color: rgba(211, 244, 247, 0.568);
    
}